@import "../../assets/variables";

.chat-item {
  &__line {
    height: 1px;
    background: $divider-line-color;
    padding: 0 10px;
  }

  &__block {
    height: 70px;
    width: 100%;
    display: grid;
    grid-template:
      "a n n d" 22px
      "a m u u" 24px
      / 47px 1fr 50px 80px; // Увеличиваем ширину для кнопки
    gap: 0 10px;
    padding: 12px 10px;
    box-sizing: border-box;
    cursor: pointer;

    &--current {
      background: $chat-list-current-bgcolor;
      cursor: default;
    }
  }

  &__avatar {
    object-fit: cover;
    grid-area: a;
    background: $gray-light-color;
    height: 47px;
    width: 47px;
    border-radius: 50%;
  }

  &__name {
    font: $font-chat-name;
    line-height: 22px !important;
    vertical-align: middle;
    grid-area: n;
    font-weight: $font-weight-semibold;
  }

  &__date {
    float: right;
    font: $font-nano;
  }

  &__message {
    color: $secondary-text-color;
    grid-area: m;
  }

  &__message-text {
    font: $font-chat-message;
    margin-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__unread {
    grid-area: u;
    margin-top: 14px;
    height: 20px;
    width: 20px;
    font: $font-micro;
    background: $button-bgcolor;
    color: $button-color;
    place-self: end;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.chat-item:hover {
  background-color: #f3f3f4;
  .chat-item__delete {
    display: block;
  }
}

.chat-item__active {
  background-color: #edf0ff;
}

.chat-item__delete {
  display: none;
  padding: 0;
  font-weight: 300;
  background: none;
  color: $link-color;
  border: none;
}

.chat-item__delete:hover {
  cursor: pointer;
  color: $link-color-2;
  font-weight: 500;
}
