@import "../../assets/variables";

.input {
  height: $input-height;
  margin-top: 8px;

  &__element {
    border: 1px solid $border-light-color;
    border-radius: $input-border-radius;
    padding: $input-padding;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font: inherit;

    &--align-right {
      text-align: right;
    }
  }

  &__element:focus {
    border-color: $link-color;
    outline: 3px solid transparentize($color: $link-color, $amount: 0.8);

    &.invalid {
      border-color: $error-color;
      outline: 3px solid transparentize($color: $error-color, $amount: 0.8);
    }
  }
}
