@import '../../assets/variables';
@property --myColor1 {
  syntax: '<color>';
  initial-value: $link-color;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: $link-color-2;
  inherits: false;
}

.button {
  font: $font-button;
  height: 48px;
  width: 100%;
  text-align: center;
  border: 0;
  border-radius: 18px;
  color: $button-color;
  background: linear-gradient(90deg,  var(--myColor1), var(--myColor2) 100%);
  transition: --myColor1 0.3s ease-in-out, --myColor2 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 40px;
  cursor: pointer;
}

.button:hover{
  --myColor1: #7481f5;
  --myColor2: #9c9cf8;
  box-shadow: 0px 8px 10px #0115ca3d;
}
