{{!-- {{#> Main page="registration"}} --}}
{{!-- {{{SidebarImg sidebar-bg="/assets/registration-sidebar-bg.jpg" alt="Алиса в стране чудес"}}} --}}
{{!-- {{#> SidebarImg sidebar-bg="/assets/registration-sidebar-bg.jpg" alt="Алиса в стране чудес"}}{{/ SidebarImg }} --}}

{{!-- {{/ Main}} --}}
<main class="main">
  <section class="login-content">
    <div class="dialog">
      {{{InputForm}}}
    </div>
  </section>
</main>