.message{
    background: #fffdff;
    border-radius: 8px;
    display: inline-block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 14px;
    margin-bottom: 16px;
    position: relative;
    min-width: 50px;
    max-width: 600px;
    filter: drop-shadow(2px 4px 4px #04001407);
}
