{{!-- {{#> Main page="login"}} --}}
<main class="main">



{{{ SidebarImg }}}
  {{!-- {{#> SidebarImg sidebar-bg="/assets/login-sidebar-bg.jpg" alt="Алиса в стране чудес"}}{{/ SidebarImg }} --}}
  <section class="login-content">
      <div class="dialog">
      {{{ InputForm }}}
      </div>
  </section>
{{!-- {{/ Main}} --}}
</main>