@import '../../assets/variables';
.chat-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.search__input{
    height: $input-height;
    width: 100%;
    margin-inline: 12px;
    border-radius: 35px;
    padding: $input-padding;
    background: rgb(233, 232, 232);
    outline: none;
    border: none;
}