<div class="error-container">
    <h1 class="error-container__header">{{ error }}</h1>
    <h2 class="error-container__description">{{ desctiption }}</h2>
    {{{Link}}}
    {{!-- {{> Link text="Назад к чатам" page="chat" }} --}}
</div>
