@import '../../assets/variables';

.dialog {
  background: $dialog-bgcolor;
  // border: 1px solid $border-light-color;
  // box-shadow: $dialog-shadow;
  border-radius: 22px;
  padding:  25px 45px;
}
