@import './assets/variables';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

main{
  background: #fff;
}

body {
  width: 100%;
  font: $font-regular;
  background-color: $text-bgcolor;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: $link-color;
}

ul{
  list-style:none;
}

button {
  font-size: inherit;
  line-height: inherit;
}
