@import "../../assets/variables";

.chat-container {
  display: flex;
  flex-direction: column;
  flex: 3;
  width: 55vw;
  background-color: rgb(233 235 235);
  position: relative;
}

.chat__message-field {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  z-index: 10;
  width: 100%;
  height: calc(100% - 70px);
  padding: 24px;
}

.chat__message-input {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  margin-block-end: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
}

.chat__message-button {
  border: none;
  position: absolute;
  padding: 2px;
  top: 19px;
  right: 28px;
  z-index: 1000;
  width: 32px;
  height: 32px;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
}

.chat__message-button_image {
  width: 100%;
  height: 100%;
}

.chat-container__image {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.chat-background {
  width: 100%;
  height: 100%;
  position: relative;
}

.img1 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url("../../assets/img/chat-bg.jpg");
}

.img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(26px);
}

.chat__message-input .input__element {
  border-radius: 0px;
  height: 100% !important;
}

.empty__messages {
  position: absolute;
  top: calc(50% - 70px);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.25);
  font-weight: 400;
  color: white;
  width: 240px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  z-index: 200;
  &hidden{
    display: none;
  }
}
