<div class="chat-container">
  <div class="chat-background" title="Фоновое изображение">
    <div class="chat__message-field">
      {{{Messages}}}
    </div>
    <div class="chat__message-input">{{{Input}}}</div>
    <div class="img1"></div>
    <div class="img2"></div>
  </div>
</div>