<div class="chat-container">
  {{! <img
      class="chat-container__image"
      src="../../assets/img/chat-bg-2.jpg"
      alt=""
    /> }}
  <div class="chat-background" title="Фоновое изображение">
    <div class="img1"></div>
    <div class="img2"></div>
  </div>
</div>
