@import "../../assets/variables";

.link {
  font: $font-regular;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
  width: 100%;
  text-align: center;
  color: $link-color-2;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
